@font-face {
    font-family: 'Space Grotesk';
    src: url('C:\Users\Ranu Ramesh\Desktop\Website\space\fonts\otf\SpaceGrotesk-Bold') format('otf'),
         url('C:\Users\Ranu Ramesh\Desktop\Website\space\fonts\otf\SpaceGrotesk-Light') format('otf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Space Grotesk', sans-serif;
}
