<!DOCTYPE html>
<html>
<head>
    <title>GeneProtect</title>
</head>
<body>
    <h1>GeneProtect</h1>
    <hr>
    <img src="images/l.jpg" alt="Landscape">
    <h2>Securely protect your DNA & RNA Data</h2>
    <p>Use exclusive technology for your data</p>
    <button onclick="location.href='/account'">Sign Up</button>
    <button onclick="location.href='/login'">Log In</button>
    <hr>
    <h2>Why use GeneProtect?</h2>
    <p>Nucleus provides a secure and reliable way to store your DNA and RNA data</p>
    <img src="images/p.jpg" alt="Image P">
    <img src="images/q.jpg" alt="Image Q">
    <img src="images/c.jpg" alt="Image C">
    <img src="images/t.jpg" alt="Image T">
</body>
</html>
